%html
  %head
    %title Ratebeer Visualization Tool
    = css :application
    = css :leaflet_tutorial

    = js :app
    = js :leaflet_tutorial 
  %body
    #charts
    %button{id: 'animation_control'} 
      Stop animation

    :javascript
      initializeChart();
      chart_refresh = setInterval(function() {
        console.log('Initiating data refresh ...');
        refreshValues();
      }, 5000);

      d3.select('#animation_control')
        .on('click')(function() {
           alert('Stopping the animation');
           clearInterval(chart_refresh); 
         });
