%html
  %head
    %title Ratebeer Visualization Tool
    = css :application
    = css :leaflet_tutorial
    :css
      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 12px;
      }
    = js :app
    = js :leaflet 
  %body
    #charts

    :javascript
       tutorial_options = {
         start: 0,
         finish: 5,
         step: 0.1,
         upperBound: 50
       };
       D3Tutorial.init(tutorial_options);
       
       data = D3Tutorial.generateRandomData();
       D3Graph.init({data : data });
       D3Graph.render('#charts');

       setInterval(function() {
         newInputs = D3Tutorial.generateRandomData();
         D3Graph.refresh(newInputs);
       }, 2000);
