%html
  %head
    %title Ratebeer Visualization Tool
    = css :application
    = css :leaflet_tutorial
    :css
      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 12px;
      }
    = js :app
    = js :leaflet_tutorial 
  %body
    #charts

    :javascript
      initializeChart();
