%html
  %head
    %title Ratebeer Visualization Tool
    = css :application
    = css :leaflet_tutorial
    :css
      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 12px;
      }
    = js :app
    = js :leaflet 
  %body
    #ratingsByScore
    #overallDistribution
    
    :javascript
       score_options = {
         start: 0,
         finish: 5,
         step: 0.1,
         upperBound: 200
       };
       scores = D3UTILS.D3Tutorial();
       scores.init(score_options);
       data = scores.generateRandomData();
       scores_graph = D3UTILS.D3Graph();
       
       scores_graph.init({
         data : data, 
         svg_height: 300,
         svg_width: 500,
         svg_margin: 35 });
       scores_graph.render('#ratingsByScore');

       graph_options = {
         start: 0,
         finish: 20,
         step: 1,
         upperBound: 100
       };

       overall_distribution = new D3UTILS.D3Tutorial();
       overall_distribution.init(graph_options);
       overall_data = overall_distribution.generateRandomData();

       overall_graph = new D3UTILS.D3Graph();
       overall_graph.init({
         data: overall_data,
         svg_height: 300,
         svg_width: 500,
         svg_margin: 30
       });
       overall_graph.render('#overallDistribution');
 
       setInterval(function() {
          new_scores = scores.generateRandomData();
          overall = overall_distribution.generateRandomData();
      
          scores_graph.refresh(new_scores);
          overall_graph.refresh(overall);
       }, 2000);
