$graph_height: 500;
$graph_width: 250;

#charts svg {
  display: block;
  background-color: rgb(232, 232, 232);

  .graph {
    fill: rgb(64, 64, 255);
    stroke: rgb(64, 64, 255);
    stroke-width: 1px;
  }
}
